<!DOCTYPE html>
<html>
<head>

    <title>Réinisialisation Mot de passe</title>
    <style>
        body{
            font-family: 'Roboto', sans-serif;
            background-color: #212121;
            color: white;
        }
        .body{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
<div class="body">
    <h2 style="font-size: 25px;"> <img src="{{ asset("https://technext.github.io/game-warrior/img/logo.png") }}">- Réinisialisation du mot de passe</h2>
    <p style="font-size: 15px;">
        <strong style="font-size: 15px;">
            {{user.userName}}</strong>
        tu as oublié ton mot de passe, tu vas pouvoir le réinisialiser en suivant ce lien :</p>
    <p style="font-size: 15px;">
        <a href="{{ url }}">{{ url }}</a>
    </p>
    <p style="font-size: 15px; ">L'Equipe Game <span style="color: #FFB320"> Warrior.</span>
        <br/>
    </p>
    <h4> Enjoy !</h4>
</div>
</body>
</html>