<p>Madame, Monsieur,</p>
<p>Par la présente, je souhaite effectuer une commande auprès de votre entreprise.</p>
<p>En effet, nous voudrons recevoir 100 Kg du produit {{ produit }}.</p>
<p>On vous remercie de bien vouloir nous livrer notre commande dans les plus brefs délais à notre adresse Tunis.LaFourchette.</p>
<p>Après réception de la facture, nous vous ferons parvenir un chèque afin de règler la commande.</p>
<p>Je vous serais reconnaissant de bien vouloir confirmer notre commande, et vous prie d'accepter, Madame, Mosieur, mes respectueuse salutations.</p>