{% extends 'base.html.twig' %}



{% block title %}Panier{% endblock %}

{% block body %}
    <div class="content-page">


        <!-- Start content -->

        <div class="content">
            <div class="container-fluid">
                <div class="about-section-box">
                    <div class="container">
                        <div class="row">

                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <h1>Panier</h1>


                                <table class="table table-hover text-nowrap">
                                    <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Quantity</th>


                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for i in commande %}
                                        <tr>
                                            <td>{{i.referenceplat}}</td>
                                            <td>{{i.quantity}}</td>
                                            {# <td>{{p.idU}}</td> #}



                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>






                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>


{% endblock %}
