<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Fourchette</title>

    <link rel="stylesheet" href="{{ absolute_url(asset('css/fichier.css')) }}">
</head>
<body>
    <h1>Réclamation</h1>
    <p>Bonjour cher client <span style="color:#fa521c">{{nom|raw}}</span> , Votre <span style="color:#B22727"> {{typerec|raw}}</span> est traitée !!</p>   
    <img src="LaFourchette.png" alt="La Fourchette Logo" class="brand-image " style="opacity: .8"> 
</body>
</html>