{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">


            
            <!-- /.card -->
        </div>
    </section>
</div>

{% endblock %}
