{# templates/emails/registration.html.twig #}
<h3>Verification !</h3>

<div>Mr/Mme {{ user.name }} votre compte avec succes sur notre platforme !</div>

<div>Merci à la prochaine !!</div>

<div>WeDev Team ! Merci !</div>
                       <style>
  body{
background-image:url("{{asset('dist/resto.jpg')}}");
  background-repeat: no-repeat;
  background-size: 100% 100%;

}
  </style>